
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


    <title>home</title>
    <style>
        *{
            font-family: 'Poppins', sans-serif;
          
        }
        .container{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
        }
        h6{
            margin-top: 25px;
            margin-bottom: 30px;
        }
    </style>
  </head>
  <body style="background-color: black;">
    {% extends 'nav.html' %}
   
    {% block content %}
    <div class="container">

      <form action="/upload">
       <h6 style="text-align: center;"> <img src="static/folder.png" alt=""><br><button type="submit" class="btn btn-outline-success btn-lg d-grid gap-2 col-6 mx-auto"><span style="color: wheat;" >SEND</span></button> </h6>
      </form>
       <br>
       <h6 style="text-align: center;">
        <img src="static/received.png" alt=""><br><button type="button" class="btn btn-outline-danger btn-lg d-grid gap-2 col-6 mx-auto"><span style="color: wheat;" >RECEIVE</span></button>
       </h6>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    {%  endblock %}
  </body>
</html>