<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  
    <title>QRcode</title>
    <style>
      * {
        font-family: 'Poppins', sans-serif;
    }

        .container img{

          
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) ;


        }
    </style>
  </head>
  <body >
 
    {% extends 'nav.html' %}

    {% block content %}

    <div id="qrcode" class="container" >
    </div>

    <script src="static/qrcode.js">

    </script>
    <script >
      let qrcode = new QRCode(document.querySelector('#qrcode'), {
          text: "{{x_val}}",
          width: 300,
          height: 300,
          colorDark : "#000000",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.H
      });
      qrcode.makeCode()
    </script>


    {%endblock%}
  </body>
</html>