<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>File Manager</title>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        .gg {
            outline: none;
        }

    

        .ss {
            border: 1px solid plum;
            border-radius: 20px;
        }

        .ss2 {
            border: 1px solid purple;
            border-radius: 25px;
        }

        button {
            outline: none;
        }
    </style>

</head>

<body style="background-color: black;">
    {% extends 'nav.html' %}

    {% block content %}


    <form action="" method="POST">

        {% for folder in folder_name %}

        <div class="ss">
            <p></p>
            <h6 style="text-align: center;">
                <div>
                    <img src="static/user_folder.png" alt="">
                    <button type="submit" style="width: 400px; color: whitesmoke;"  class="btn btn-outline-warning" >
                        <input type="radio" name="name" id="" value="{{folder}}">{{folder[0:-1]}}
                    </button>
                </div>
            </h6>

        </div>

        {%endfor%}

       

      {% for folder in file_name %}

        <div class="ss2">
            <p></p>
            <h6 style="text-align: center;">
                <div>


                    <img style="width: 50px;" src="static/send.png" alt="">
                    <button type="submit" style="width: 400px; color: whitesmoke;"  class="btn btn-outline-warning" >
                        <input type="radio" name="name2" id="" value="{{folder}}">{{folder}}
                    </button>
                </div>
            </h6>

        </div>

        {%endfor%} 


    </form>

    {%endblock%}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- rate Popper and Bootstrap JS --> -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>